<!--
 * the head of web
 * 
 * @author: yunzhi li
 * @version: 2016/10/27 11:00
 *           Id
-->
<title>{{pageTitle}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<!-- css -->
<link rel="stylesheet" type="text/css" href="{{proUrl}}/lib/normalize-5.0.0.css"/>
<link rel="stylesheet" type="text/css" href="{{proUrl}}/css/comm.css"/>
{% block customCss %}
{% endblock %}

<!-- JS -->
<!--[if lt IE 9]>
<script type="text/javascript" src="{{proUrl}}/lib/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="{{proUrl}}/lib/html5shiv-3.7.3/dist/html5shiv.min.js"></script>
<script type="text/javascript" src="{{proUrl}}/lib/Respond-1.4.2/dest/respond.min.js"></script>
<![endif]-->

<!--[if gte IE 9]><!-->
<script type="text/javascript" src="{{proUrl}}/lib/jquery-2.2.4.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="{{proUrl}}/js/comm.js"></script>
{% block customJs %}
{% endblock %}

{% block custom %}
{% endblock %}
