<!DOCTYPE html>
<html lang="zh-CN">
<!--
 * Description
 * 
 * @author: yunzhi li
 * @version: 2016/12/6 22:31
 *           Id
-->
<head>
    {% include '../block/head_wap.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row row_scale_head">
        <div class="col col-12">
            <img src="{{proUrl}}/images/bg_scale_body_top_wap.png"/>
            {% block scaletitle %}
            {% endblock %}
        </div>
    </div>

    <div class="row row_scale_body">
        <div class="col col-12">
            {% block scaleinfo %}
            {% endblock %}
        </div>
    </div>

    <div class="row row_scale_tail">
        <div class="col col-12">
            <img src="{{proUrl}}/images/bg_scale_body_bottom_wap.png"/>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>