html {
    text-align: center;
}

body,
html body {
    max-width: 750px;
    margin: 0 auto;
    overflow-x: hidden;
}

.row_rule_body .rule_content p {
    font-size: 14px;
    line-height: 20px;
}