<!DOCTYPE html>
<html lang="zh-CN">
<!--
 * Description
 * 
 * @author: yunzhi li
 * @version: 2016/12/6 21:38
 *           Id
-->
<head>
    {% include './public/block/head_wap.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row row_rule_head">
        <div class="col col-12">
            <img src="{{proUrl}}/images/bg_rule_body_top_wap.png"/>
        </div>
    </div>

    <div class="row row_rule_body">
        <div class="col col-12">
            <div class="rule_content">
                <h1>开门红包拆不停</h1>
                <p>1. 活动时间：即日起至3月31日，每天8:00到22:00开门红包拆不停；</p>
                <p>2. 活动规则：客户每天登陆本活动页面可获得一次拆红包机会。</p>
                <p>3. 活动奖品说明：</p>
                <p>3.1 1G流量快餐包抽中后立即生效，有效期24小时，过期失效，未使用完不可结转。</p>
                <p>3.2 100M流量和10M流量为省内流量，将送至客户流量银行，请关注并绑定“湖南移动和你在一起”进入流量银行提取（流量银行每季末清零，请速速提取使用哦~）</p>
                <p>3.3 洗车券：用户凭收到的“洗车券”券号进店消费，享受免费洗车服务一次。</p>
                <p>3.4
                    KTV欢唱券：使用方法：登陆网址http://www.sxcok.com/duihuan.do免费注册随心唱业务成为会员——进入随心唱会员个人中心——点击兑换中心，输入8位数的兑换码，确认提交——领取到免唱券后点击进入KTV列表查看商家给出的具体优惠方案——选择商家后点击免唱券预约即可。</p>
                <p>3.5 听歌券：发送“AS+序列号”到10658830激活后，点击 m.10086.cn 进入专区即可免费下载5首高清音质歌曲。</p>
                <p>
                    3.6咪咕阅读书券：书券可用于咪咕数字传媒WAP网站（wap.cmread.com）、WEB网站（www.cmread.com）及咪咕数字传媒客户端上的各类电子书作品点播的支付，可用于按章、按本购买产品，以及临时促销包产品，不能用于抵扣包月类产品的费用。 </p>

                <h1>圣诞专区</h1>
                <p>活动时间：2016年12月18日-2016年12月28日 </p>
                <p>1、玩游戏享好礼： </p>
                <p>客户在手机营业厅APP每天有一次参与圣诞游戏获得奖品的机会，每天首次分享再增加一次机会。 </p>
                <p>详情请见玩游戏享好礼活动页面。 </p>
                <p>2、送贺卡赢流量： </p>
                <p>用户在活动页面生成咪咕圣诞贺卡后分享至朋友圈即送100M，好友扫码下载咪咕应用激活再送100M流量。详情请见送贺卡赢流量活动页面。 </p>

                <h1>使用掌端享好礼</h1>
                <p>活动时间：2016年12月18日-2017年3月31日</p>
                <p> 新装送流量：用户首次下载并激活手机营业厅或和掌柜，登录后在指定页面可免费领取100M省内流量；</p>
                <p> 签到送流量：用户登录手机营业厅或和掌柜，每天签到1次可以获赠一定流量，一个月内累计签到7天可获赠1G省内流量快餐包；</p>
                <p> 推荐送流量：用户推荐好友使用手机营业厅或和掌柜，最高可获赠1G流量。</p>
                <p> 详情请见三重礼活动页面。</p>

                <h1 class="con_t_w">全家用4G 套餐优惠用</h1>
                <p> 活动时间：2016年12月18日-2017年3月31日</p>
                <p> 赠送900M流量为省内流量，将于被推荐人套餐生效月赠送至推荐人的流量银行，请关注并绑定“湖南移动和你在一起”提取流量；</p>
                <p> 详情请见业务办理页面。</p>

                <h1 class="con_t_w">购理财 全年免费用套餐</h1>
                <p> 活动时间：2016年12月18日-2017年3月31日</p>
                <p> 详情请见业务办理页面。</p>

                <h1 class="con_t_w">流量月包低档升、高档翻倍享</h1>
                <p> 1.活动时间：2017年1月1日-2017年3月31日</p>
                <p> 2.低档流量月包免费升档：</p>
                <p> 2.1流量月包生效当月按照升档后月包正常资费扣费，当月返还差额话费（差额话费=升档后资费-升档前资费）；</p>
                <p> 2.2升档后可享受对应档次的流量翻倍享活动；</p>
                <p> 2.3 客户在活动期内进行了二次变更（包括取消、降档、升档），则不再享受免费升活动政策，即次月不再进行差额话费赠送；</p>
                <p> 3.高档流量月包翻倍享：</p>
                <p> 赠送流量为省内流量，不可转赠，仅限当月有效，不可结转至次月。</p>

                <h1 class="con_t_w">手机用移动，宽带电视免费用</h1>
                <p> 详情请见业务办理页面。</p>

                <h1 class="con_t_w">超值手机免费拿</h1>
                <p> 详情请见业务办理页面。</p>

                <h1 class="con_t_w">4999元终极红包等你拆</h1>
                <p> 详情请见业务办理页面。</p>
            </div>

            <img class="icon_yun yun_right yun_1" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_left yun_2" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_right yun_3" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_left yun_4" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_right yun_5" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_left yun_6" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_right yun_7" src="{{proUrl}}/images/icon_yun.png"/>
            <img class="icon_yun yun_left yun_8" src="{{proUrl}}/images/icon_yun.png"/>
        </div>
    </div>

    <div class="row row_rule_tail">
        <div class="col col-12">
            <img src="{{proUrl}}/images/bg_rule_body_bottom_wap.png"/>
        </div>
    </div>
</div>
</body>
</html>