<!--
 * Description
 * 
 * @author: yunzhi li
 * @version: 2016/12/6 22:22
 *           Id
-->
{% extends './public/frame/fr-scale.html' %}

{% block scaletitle %}
<img class="scale_title big" src="{{proUrl}}/images/pop_scale_title_4g_wap.png"/>
{% endblock %}

{% block scaleinfo %}
<div class="scale_content scale_content_4g">
    <h1><b>推荐有好礼</b></h1>
    <h3>过年回家，给家人推荐一款合适的4G套餐吧</h3>
    <h3><b>有优惠，一起享！</b></h3>
    <div class="scale_box scale_4g">
        <div class="row">
            <div class="col col-6 scale_icon"></div>
            <div class="col col-6">
                <p>活动期间，给他人推荐新办4G飞享套餐推荐成功者可获赠<b>900M</b>省内流量；被推荐人可享受套餐生效首月获得<b>50%话费赠送</b>（最高29元）！</p>
            </div>
        </div>
    </div>

    <a href="" class="bt">戳我办理</a>
    <p class="tips_info">*仅限4G套餐客户参与</p>
</div>
{% endblock %}
