@import "pro-lib-var.css";

body {
    background-color: var(--bg-color-main);
    text-align: left;
    margin: 0 auto;
    font: 14px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, Verdana, Arial, Helvetica, sans-serif;
    color: var(--font-color-normal);
}

