<!--
 * the index page of wang ting
 * 
 * @author: yunzhi li
 * @version: 2016/9/26 15:33
 *           
-->

{% extends "./public/frame/fr_index.html" %}

{% block top %}
{% include "./public/block/topbar.html" %}
{% include "./public/block/nav.html" %}
{% endblock %}

{% block banner %}
<div class="container-fluid">
    <div class="row row_banner">
        <div class="col col-12">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="">
                            <img src="{{proUrl}}/images/banner.png"/>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <img src="{{proUrl}}/images/banner.png"/>
                        </a>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>

            <div class="userinfo-box">
                <div class="row row_userinfo">
                    <div class="col col-3">
                        <a href=""><img class="img-avatar" src="{{proUrl}}{{data.userInfo.avatar}}"/></a>
                    </div>
                    <div class="col col-9">
                        <h1>HI，{{data.userInfo.name}}</h1>
                        <p class="level_info">
                            <img class="img-level" src="{{proUrl}}{{data.userInfo.levelImg}}"/>
                            {{data.userInfo.levelName}}（{{data.userInfo.level}}级）
                        </p>
                    </div>
                    <div class="col col-12">
                        <div class="aiui-progress">
                            <div class="progress-bar"
                                 style="width: {{data.userInfo.curIntegral/data.userInfo.nextLevelIntegral * 100}}%;">
                                <span>{{data.userInfo.curIntegral}}/{{data.userInfo.nextLevelIntegral}}</span>
                            </div>
                        </div>
                        <p class="level_desc">您还有 <b>{{data.userInfo.nextLevelIntegral - userInfo.curIntegral}}</b>
                            成长只值，升级为<b>{{data.userInfo.levelName}}（{{data.userInfo.level}}级）</b>
                        </p>
                        <h2>
                            <img style="width: 24px;" src="{{proUrl}}/images/e_01.png"/> E币数量
                            <b>{{data.userInfo.eNum}}个</b>
                        </h2>
                    </div>
                </div>

                <div class="row row_qiandao">
                    <div class="row">
                        <div class="col col-2">
                            <h2>签到</h2>
                        </div>
                        <div class="col col-10">
                            <p>每月签到<b>3次</b>获E币，节假日奖励翻倍！</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-1"></div>
                        <div class="col col-2">
                            <span class="light-red">+5</span>
                            <p>9.25</p>
                        </div>
                        <div class="col col-2"><i class="iconfont">&#xe602;</i></div>
                        <div class="col col-2">
                            <span class="red">+10</span>
                            <p><b>签到</b></p>
                        </div>
                        <div class="col col-2"><i class="iconfont">&#xe602;</i></div>
                        <div class="col col-2">
                            <span>+20</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block ad %}
<div class="container-fluid">
    <div class="row row_ad">
        <a href="">
            <h1>会员大礼包</h1>
            <h3>语音流量送不停</h3>
            <img src="{{proUrl}}/images/ad_01.png"/>
        </a>
        <a href="">
            <h1>VIP专区</h1>
            <h3>4G手机优惠专属</h3>
            <img src="{{proUrl}}/images/ad_02.png"/>
        </a>
        <a href="">
            <h1>会员大礼包</h1>
            <h3>语音流量送不停</h3>
            <img src="{{proUrl}}/images/ad_03.png"/>
        </a>
        <a href="">
            <h1>VIP专区</h1>
            <h3>4G手机优惠专属</h3>
            <img src="{{proUrl}}/images/ad_04.png"/>
        </a>
    </div>
</div>
{% endblock %}

{% block duihuan %}
<div class="container-fluid">
    <div class="row row_duihuan">
        <div class="aiui-tab">
            <div class="tab-title">
                <h1><i class="iconfont">&#xe605;</i><span>兑换专区</span></h1><img src="{{proUrl}}/images/h_01.png"/>
                <a class="more" href="">更多</a>
                <ul class="tab-nav tab-nav-right">
                    <li class="active"><a href="">精品</a></li>
                    <li><a href="">流量</a></li>
                    <li><a href="">话费</a></li>
                    <li><a href="">套餐</a></li>
                </ul>
            </div>
            <div class="tab-box">
                <div class="tab-panel" style="display: block;">
                    <ul class="duihuan-list">
                        <li>
                            <div class="duihuan-box">
                                <div class="box-img">
                                    <span class="box-tag">9.8折</span>
                                    <a href=""><img src="{{proUrl}}/images/i_p_001.png"/></a>
                                </div>
                                <div class="box-buy">
                                    <h1>10元话费</h1>
                                    <a class="bt">10E币兑换</a>
                                </div>
                                <div class="box-info">
                                    <p>2343人兑换</p>
                                    <p>有效期：2016-09-19至2016-09-30</p>
                                </div>
                            </div>
                        </li>

                        {% for item in data.duihuanList %}
                        <li>
                            <div class="duihuan-box">
                                <div class="box-img">
                                    {% if item.zhekou %}
                                    <span class="box-tag">{{item.zhekou}}</span>
                                    {% endif %}
                                    <a href=""><img src="{{proUrl}}{{item.img}}"/></a>
                                </div>
                                <div class="box-buy">
                                    <h1>{{item.title}}</h1>
                                    <a class="bt">{{item.btText}}</a>
                                </div>
                                <div class="box-info">
                                    <p>{{item.count}}人兑换</p>
                                    <p>有效期：{{item.validDate}}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="tab-panel"></div>
                <div class="tab-panel"></div>
                <div class="tab-panel"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tejia %}
<div class="container-fluid">
    <div class="row row_tejia">
        <div class="aiui-tab">
            <div class="tab-title">
                <h1><i class="iconfont">&#xe606;</i><span>专属特价</span></h1><img src="{{proUrl}}/images/h_01.png"/>
                <a class="more" href="">更多</a>
                <ul class="tab-nav tab-nav-right">
                    <li class="active"><a href="">精品</a></li>
                    <li><a href="">流量</a></li>
                    <li><a href="">话费</a></li>
                    <li><a href="">套餐</a></li>
                </ul>
            </div>
            <div class="tab-box">
                <div class="tab-fix"></div>
                <div class="tab-panel" style="display: none;">
                    <ul class="tejia-list">
                        <li>
                            <div class="tejia-box">
                                <div class="box-img">
                                    <span class="box-tag">9.8折</span>
                                    <a href=""><img src="{{proUrl}}/images/i_p_001.png"/></a>
                                </div>
                                <div class="box-buy">
                                    <h1>10元话费</h1>
                                    <a class="bt">10E币兑换</a>
                                </div>
                                <div class="box-info">
                                    <p>2343人兑换</p>
                                    <p>有效期：2016-09-19至2016-09-30</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}






