<!DOCTYPE html>
<html lang="zh-CN">
<!--
 * the index page frame page
 * 
 * @author: yunzhi li
 * @version: 2016/9/26 15:36
 *           Id
-->
<head>
    {% include "../block/head.html" %}
</head>
<body>
{% block top %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block ad %}
{% endblock %}

{% block duihuan %}
{% endblock %}

{% block tejia %}
{% endblock %}

{% block choujiang %}
{% endblock %}

{% block footer %}
{% include "../block/footer.html" %}
{% endblock %}
</body>
</html>